<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ToDoList</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body style="text-align:center">
    <h1>My ToDos</h1>
    {% if tasks == []: %}
    <p>To Do List is empty.</p>
    {% endif %}
    <ul style="list-style-type:none">
      {% for task in tasks %}
      <li>
        <input type="checkbox">
        {{task.task}}
        <a href="{{ url_for('edit', id=task.id) }}">Edit</a>
        <a href="{{ url_for('delete', id=task.id) }}">Delete</a>
      </li>
      {% endfor %}
    </ul>
    <form action="{{ url_for('add') }}" method="POST">
      <input name="task" type="text" required/>
      <button type="submit">Add Task</button>
    </form>
  </body>
</html>
